*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

::-webkit-scrollbar {
    display: none;
}

::-webkit-scrollbar-thumb {
    background: #FF0000;
}

img {
    width: 100%;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #5C5C5C;
    font-size: 1.2em;
}

html {
    background-color: black;
   
}